[submodule "ballcat"]
	path = ballcat
	url = https://gitee.com/ballcat-projects/ballcat.git
[submodule "ballcat-ui-react"]
	path = ballcat-ui-react
	url = https://gitee.com/ballcat-projects/ballcat-ui-react.git
[submodule "ballcat-ui-vue"]
	path = ballcat-ui-vue
	url = https://gitee.com/ballcat-projects/ballcat-ui-vue.git
[submodule "ruoyi-vue-pro"]
	path = ruoyi-vue-pro
	url = https://gitee.com/zhijiantianya/ruoyi-vue-pro.git
[submodule "SpringBlade"]
	path = SpringBlade
	url = https://gitee.com/smallc/SpringBlade.git
[submodule "blade-tool"]
	path = blade-tool
	url = https://gitee.com/smallc/blade-tool.git
[submodule "Sword"]
	path = Sword
	url = https://gitee.com/smallc/Sword.git
[submodule "Saber"]
	path = Saber
	url = https://gitee.com/smallc/Saber.git
[submodule "halo"]
	path = halo
	url = https://gitee.com/halo-dev/halo.git
[submodule "halo-admin"]
	path = halo-admin
	url = https://gitee.com/halo-dev/halo-admin.git
[submodule "mall"]
	path = mall
	url = https://gitee.com/macrozheng/mall.git
[submodule "mall-admin-web"]
	path = mall-admin-web
	url = https://gitee.com/macrozheng/mall-admin-web.git
[submodule "mall4cloud"]
	path = mall4cloud
	url = https://gitee.com/gz-yami/mall4cloud.git
[submodule "RuoYi-Vue"]
	path = RuoYi-Vue
	url = https://gitee.com/y_project/RuoYi-Vue.git
[submodule "COLA"]
	path = COLA
	url = https://github.com/alibaba/COLA.git
[submodule "RuoYi-Cloud"]
	path = RuoYi-Cloud
	url = https://gitee.com/y_project/RuoYi-Cloud.git
[submodule "hutool"]
	path = hutool
	url = https://gitee.com/dromara/hutool.git
[submodule "pig"]
	path = pig
	url = https://gitee.com/log4j/pig.git
[submodule "lamp-util"]
	path = lamp-util
	url = https://github.com/zuihou/lamp-util.git
[submodule "mybatis-plus"]
	path = mybatis-plus
	url = https://gitee.com/baomidou/mybatis-plus.git
[submodule "gmall"]
	path = gmall
	url = https://gitee.com/itxinfei/gmall.git
